extends _layout

block content
  .large-8.medium-8.small-12.columns
    p.title #{singleImg.author}
    .single-image(style="background-image: url(#{singleImg.link})")
    .caption
      form(action='/gallery/#{singleImg.id}' method='POST')
        p Author
        input(type='text' name='author' value="#{singleImg.author}")
        p Link
        input(type='text' name='link' value="#{singleImg.link}")
        p Description
        input(type='text' name='description' value="#{singleImg.description}")
        p
        input(type='hidden' name='_method' value='PUT')
        button(type='submit' name='submit') Edit
        br
        button(type=submit) Delete
  .sidebar.large-4.columns.show-for-large-up
    each image in sidebarImages
      a(href='/gallery/#{image.id}')
        .sidebar-image(style="background-image: url(#{image.link})")
        .sidebarCaption
          p #{image.author}