extends _layout

block content
  .large-8.medium-8.small-12.columns
    p.title #{singleImg.author} – #{singleImg.link}
    .single-image(style="background-image: url(#{singleImg.link})")
    .caption
      p #{singleImg.description}
      p Copyright #{singleImg.link}
      a(href='/gallery/#{singleImg.id}/edit' class='button') Edit
      form(method='POST' action='/gallery/#{singleImg.id}')
        input(type='hidden' name='_method' value='DELETE')
        button(type=submit) Delete
  .sidebar.large-4.columns.show-for-large-up
    each image in sidebarImages
      .sidebar-image(style="background-image: url(#{image.link})")
      .sidebarCaption
        p #{image.author} - #{image.link}