extends _layout

block content
  .singleBox
    .caption
      p #{author} - #{link}
    .clear
    .singleImage
      img(src="#{link}")
    p #{description}
    p Copyright #{link}
    a(href='/gallery/#{id}/edit' class='button') Edit
    form(method='POST' action='/gallery/#{id}')
      input(type='hidden' name='_method' value='DELETE')
      button(type=submit) Delete
  .sidebar
